<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head'); %>


<body>
    <%- include('./partials/nav.ejs') %>
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit asperiores repellat vitae saepe alias iure
            necessitatibus deserunt perferendis, doloremque molestiae perspiciatis molestias, autem eos. A maiores
            tenetur deserunt recusandae laborum.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit asperiores repellat vitae saepe alias iure
            necessitatibus deserunt perferendis, doloremque molestiae perspiciatis molestias, autem eos. A maiores
            tenetur deserunt recusandae laborum.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Velit asperiores repellat vitae saepe alias iure
            necessitatibus deserunt perferendis, doloremque molestiae perspiciatis molestias, autem eos. A maiores
            tenetur deserunt recusandae laborum.</p>
    </div>
    <%- include('./partials/footer'); %>


</body>

</html>